<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Download File</title>
  </head>
  <body>
    <form action="/download" method="post">
      <input type="text" id="objectkey" name="objectkey" />
      <button type="submit" onclick="download(event)">Download file</button>
    </form>
  </body>
</html>
